
<html>
<h1> Computer  </h1>
<ol>
  <% computer.forEach(function(com){ %>
   <li><%= com.name %> <img style="width:25%; align-self: center;"  src=<%= com.pic %>  > </li>
   
   <% }); %>
</ol>
</html>